{{!--
<!DOCTYPE html>
<html lang="en"> --}}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <link rel="stylesheet" href="/css/style.css" /> --}}
    <link rel="stylesheet" href="/css/home.css">
    <title>RecipeHub</title>
</head>


<body>
    {{!-- <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="#">Add Recipe</a></li>
            </ul>
            <form class="search-form" action="/search" method="GET">
                <input type="text" name="q" placeholder="Search for recipes...">
                <button type="submit">Search</button>
            </form>
            <div class="login-buttons">
                {{#if isAuthenticated}}
                <a href="/logout">Logout</a>
                {{else}}
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
                {{/if}}
            </div>
        </nav>
    </header> --}}
    {{!--
    <script src="/home.handlebars"></script> --}}
</body>

{{!--

</html> --}}