<section>
  <link rel="stylesheet" href="/css/recipe.css">
  <div class="featured-recipe">
    <div class="recipe-name">
      <div class="description">
      </div>
      <div class="content" id="content">
        <ul>
          <li class="ingredient-1"></li>
          <li class="ingredient-2"></li>
          <li class="ingredient-3"></li>
          <li class="ingredient-4"></li>
        </ul>
        <ul>
          <li class="1. Step-1"></li>
          <li class="2. Step-2"></li>
          <li class="3. Step-3"></li>
          <li class="4. Step-4"></li>

        </ul>
      </div>

      <p class="preparation-time">30 minutes</p>
      <p class="cooking-time">45 minutes</p>
    </div>
    <div class="instruction"></div>
  </div>
  <div class="recipe-img">
    <img src="img" alt="#">
  </div>
  <script src="./recipe.handlebars"></script>
  </div>

</section>